
<header class="Titulo">
    <h1>Carta de solicitud</h1>
</header>
<br>
<h2>Informacion general</h2>
<hr>
<br>
<form>
    <label for="Fecha">Fecha de Entrega:</label>
    <input 
        placeholder="Seleccionar fecha"
        type="date"
        name="Fecha" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="name">Nombre y Apellidos:</label>
    <input 
        placeholder="Nombre y Apellidos"
        type="text"
        name="name" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="document">No. Identificación:</label>
    <input 
        placeholder="No. Identificación"
        type="text"
        name="document" 
        required
        class="form-control datepicker"
    />
    
    <br>

    <label for="vinculo">Vinculo Institucional: </label>
    <select class="mdb-select md-form">
            <option value="" disabled selected>Escoja una opción</option>
            <option value="1">DC</option>
            <option value="2">DP</option>
            <option value="3">DO</option>
            <option value="4">DK</option>
            <option value="5">CJ</option>
            <option value="6">EP</option>
            <option value="7">AD</option>
    </select>

    <br><br>

    <label for="Telefono">Teléfono Celular:</label>
    <input 
        placeholder="Teléfono Celular"
        type="number"
        name="Telefono" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="Direccion">Dirección Residencial:</label>
    <input 
        placeholder="Dirección Residencial"
        type="text"
        name="Direccion" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="email">E-mail de Contacto:</label>
    <input 
        placeholder="E-mail de Contacto"
        type="text"
        name="email" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="nameGrupo">Nombre grupo de investigación:</label>
    <input 
        placeholder="Nombre del grupo"
        type="text"
        name="nameGrupo" 
        required
        class="form-control datepicker"
    />
    
</form>  