<header class="Titulo">
    <h1>Carta de originalidad</h1>
</header>
<div>
        Señores
        UNIVERSIDAD POPULAR DEL CESAR
        Valledupar – Cesar
        Yo <input type="text">, mayor de edad,
        identificado(a) con la cédula de ciudadanía número <input type="number"> de <input type="text">,
        con filiación institucional <input type="text">, residente en
        <input type="text">, teniendo todas mis facultades en pleno y de voluntad y en
        calidad de Autor del Texto:
        <br>
        <input 
        type="text" 
        required
        class="form-control datepicker"
        />
        
        Doy fe que el texto es original y de mi propia y exclusiva creación conforme a la ley de
        propiedad intelectual de derechos de autor en Colombia y manifiesto que: 
        
        <ul>
            <li>
                La información en ella contenida no tiene carácter confidencial.
            </li>
            <li>
                La autorización aquí otorgada cuenta con el consentimiento de todos los que
                patrocinaron o participaron en la investigación y/o creación de la obra.
            </li>
            <li>
                Que estamos de acuerdo con el orden de la lista de autores presentados, y que
                no existe personal adicional que pueda reclamar derechos de autoría. el número
                y orden de autores No contiene declaraciones difamatorias contra terceros y
                respeta el derecho a la imagen, intimidad, buen nombre y demás derechos
                constitucionales de las personas.
            </li>    
            <li>
                No existe de conflictos de intereses que puedan afectar el contenido de este, en
                caso de existirlo declaramos lo siguiente:
            </li>
        </ul>
        <input 
        type="text" 
        required
        class="form-control datepicker"
        />

        Para efectos de legalidad se firma en la ciudad de <input type="text"> a
        los <input type="number"> días del mes de <input type="text"> del año <input type="text">
        
        NOMBRE: <input type="text">
        FIRMA____________________________________________ CC <input type="text">
</div>

<div class="ml-auto">
    <button class="btn btn-primary">Generar formato</button>
</div>