<nav class = "navbar navbar-dark bg-primary">
  <img src="./assets/logo.png" alt="logo">
  <a class="navbar-brand" href="/">Universidad popular del cesar</a>
  <h2>jskds</h2>
</nav>

<div class="borde">
  <div class="agrupar">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="Borde-Menu">
  <div class="Menu">
    <h2>Menu</h2>
    <ul>
      <li>
        <a routerLink="/carta_Solicitud">Carta de solicitud</a> 
      </li>
      <li>
        <a routerLink="/carta_originalidad">Carta de originalidad</a>
      </li>
      <li>
        <a routerLink="/cesion_derechosAutor">Cesion de derechos</a>
      </li>
    </ul>
  </div>
</div>

