<header class="Titulo">
    <h1>Carta de solicitud</h1>
</header>
<br>
<h2>Informacion del evento</h2>
<hr>
<br>
<form>
    <label for="evento">Nombre del evento:</label>
    <input 
        placeholder="Nombre del evento"
        type="text"
        name="evento" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="entidad">Entidad que organiza el evento:</label>
    <input 
        placeholder="Nombre de la entidad"
        type="text"
        name="entidad" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="Link">Link del evento:</label>
    <input 
        placeholder="Link"
        type="text"
        name="Link" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="Nacionalidad">Nacionalidad:</label>
    <input 
        placeholder="Nacionalidad"
        type="text"
        name="Nacionalidad" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="pais">Pais del evento:</label>
    <input 
        placeholder="Pais"
        type="text"
        name="pais" 
        required
        class="form-control datepicker"
    />
    
    <br>

    <label for="ciudad">Ciudad del evento:</label>
    <input 
        placeholder="Ciudad"
        type="text"
        name="cuidad" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="Departamento">Dpto o estado:</label>
    <input 
        placeholder="Dpto o estado"
        type="text"
        name="Departamento" 
        required
        class="form-control datepicker"
    />

    <br>

    <label for="Telefono">Telefono y/o celular:</label>
    <input 
        placeholder="Telefono y/o celular"
        type="text"
        name="Telefono" 
        required
        class="form-control datepicker"
    />
    <br>

    <label for="email">E-mail:</label>
    <input 
        placeholder="E-mail"
        type="text"
        name="email" 
        required
        class="form-control datepicker"
    />
    <br>

    <label for="CostoInscripcion">Valor de la inscripción:</label>
    <input 
        placeholder="$0"
        type="number"
        name="CostoInscripcion" 
        required
        class="form-control datepicker"
    />
    <br>
    
    <label for="transporte">Tipo del transporte:</label>
    <select class="mdb-select md-form">
        <option value="" disabled selected>Escoja una opción</option>
        <option value="1">Aereo</option>
        <option value="2">Terrestre</option>
    </select>
    <br>

    <label for="CostoTransporte">Tipo del transporte:</label>
    <input 
        placeholder="$0"
        type="number"
        name="CostoTransporte" 
        required
        class="form-control datepicker"
    />   

    <br>
    <label for="FechaEvento">Fecha del evento:</label>
    <input 
        placeholder="Fecha del evento"
        type="date"
        name="Telefono" 
        required
        class="form-control datepicker"
    />
    <br>

    <label for="inicia">Dia de inicio del evento :</label>
    <input 
        placeholder="fecha de inicio"
        type="date"
        name="inicio" 
        required
        class="form-control datepicker"
    />
    <br>
    
    <label for="Finaliza">Dia que finaliza el evento :</label>
    <input 
        placeholder="fecha de Finalización"
        type="date"
        name="Finaliza" 
        required
        class="form-control datepicker"
    />
    <br>

    <label for="CostoTransporte">Tipo del transporte:</label>
    <input 
        placeholder="$0"
        type="number"
        name="CostoTransporte" 
        required
        class="form-control datepicker"
    />
    <br>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary" type="button" routerLink="/carta_Solicitud_general">Atras</button>
                </div>
                <div class="ml-auto">
                    <div class="ml-auto">
                        <button class="btn btn-primary" type="button" routerLink="/carta_solicitud_anexo">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</form>
