
<header class="Titulo">
    <h1>Cesion derechos de autor</h1>
</header>

<div>
        CESIÓN DE DERECHOS PATRIMONIALES Nº <input type="text"> <br><br>
        <input type="text"> mayor de edad, identificado(a) con la cédula de ciudadanía número <input type="text">
        de <input type="text">, con filiación institucional al programa de <input type="text">, en adelante el
        CEDENTE, actuando en nombre propio y en su calidad de titular de los derechos de autor
        sobre el la obra denominada <input type="text">, por medio del presente acto CEDE los
        DERECHOS PATRIMONIALES DE AUTOR sobre la misma a la UNIVERSIDAD POPULAR DEL
        CESAR, con NIT número 892300285-6, en adelante el CESIONARIO, conforme a las
        siguientes clausulas:
        1. El CEDENTE cede al CESIONARIO la totalidad de los DERECHOS PATRIMONIALES DE
        AUTOR sobre la obra <input type="text">, por él creada, en desarrollo del proyecto de
        investigación <input type="text">, adscrito al Grupo de Investigación <input type="text">
        de la Universidad Popular del Cesar.
        2. El CESIONARIO es, en adelante, y en virtud del presente acto, el titular exclusivo
        de todos los derechos patrimoniales de autor que le otorga el CEDENTE, en su
        calidad de autor de la obra; por lo tanto, puede disponer libremente de esta
        creación y utilizarla en cualquier medio y/o procedimiento, conocido o por
        conocer, y queda autorizado para su registro y posterior explotación comercial.
        Esta cesión otorgada se ajusta a lo establecido en la norma, conservando el autor
        los derechos morales de la actividad académica antes citada acorde al artículo 30
        de la Ley 23 de 1982.
        3. El CEDENTE declara que la obra objeto de cesión, es un trabajo original suyo y que
        fue legalmente creada sin hacer uso ilegítimo de los derechos de propiedad
        intelectual de terceros, por lo que se hace responsable por cualquier reclamación
        que se haga por estos conceptos y se obliga al saneamiento.
        4. El CEDENTE declara que esta CESIÓN no contraviene ninguna disposición
        contractual y que se hace con el consentimiento de todos los que patrocinaron o
        participaron en la creación de la obra de que se trata y de todos los autores de la
        misma.
        5. EL CESIONARIO, se compromete a respetar los derechos morales de autor sobre la
        obra objeto del presente acto.
        6. Los derechos concedidos al CESIONARIO, en virtud de la presente documento,
        podrán ser ejercidos por éste, sin limitación de modo, en cualquier lugar del
        mundo y por el tiempo de protección correspondiente a la obra objeto de este
        acto.
        7. EL CESIONARIO declara que con la obra no se ha quebrantado ningún derecho
        moral o patrimonial de autor, además que no contiene declaraciones difamatorias
        contra terceros y respeta el derecho a la imagen, intimidad, buen nombre y demás
        
        UNIVERSIDAD POPULAR DEL CESAR CODIGO: 202-403-PRO07-FOR05
        FORMATO DE CESION DE DERECHOS
        PATRIMONIALES DE AUTOR VERSION: 1
        
        derechos constitucionales de las personas; y que la información en ella contenida
        no tiene carácter confidencial.
        8. El CEDENTE se obliga a no celebrar actos o convenios que atenten contra los
        derechos que el CESIONARIO ha adquirido por medio de la presente CESIÓN.
        9. El CEDENTE declara que conoce y acepta las políticas y normas de de Propiedad
        Intelectual de la Universidad Popular del Cesar. De igual forma, acepta que
        cualquier cambio efectuado en la prealudida normativa no altera los derechos
        adquiridos por el CESIONARIO en virtud de la presente CESIÓN.
        
        En consecuencia se firma en la Ciudad de <input type="text"> a los <input type="text"> días del mes de <input type="text"> del
        año de <input type="text">
        
        CEDENTE:
        FIRMA: ____________________________________________ C.C.
        NOMBRE:
        CESIONARIO:
        FIRMA: ____________________________________________ C.C. ___________________
        NOMBRE: _________________________________________________________________
</div>

<button class="btn btn-primary">Generar formato</button>
